{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="shortcut icon" href="{% static 'img/pet-logo.png'%}" type="image/png">

  <!-- My css -->
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

  <link rel="stylesheet" href="{% static 'css/footer.css'%}">
  <link rel="stylesheet" href="{% static 'css/slider.css'%}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>SuperPet</title>
</head>

<body>
  <!-- ------------------------------------------------------------------------------------ -->
  <!-- Navbar Start -->
  <!-- ------------------------------------------------------------------------------------ -->

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/pet-logo.png'%}" alt="" width="30" height="30" class="d-inline-block align-text-top">
        SuperPet
      </a>
      <form class="d-flex w-25" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-4">
            <a class="nav-link active" aria-current="page" href="{% url 'products'%}">Products</a>
          </li>

        </ul>

        {% if request.user.first_name %}

         <a class="btn btn-warning mx-2" href="{% url 'login' %}" role="button">{{request.user.first_name}}</a>
         <a class="btn" href="{% url 'logout' %}" role="button" id="button">Logout</a>
        
        {% else%}
         
         <a class="btn btn-warning mx-2" href="{% url 'login' %}" role="button">Login</a>
         <a class="btn" href="{% url 'register' %}" role="button" id="button">Register</a>

        {% endif %}

        <a href = {% url 'cart' %}>
          <svg xmlns="http://www.w3.org/2000/svg"  width="30" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#FFD43B" d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
        </a>
  

       
        
        


      </div>
    </div>
  </nav>

  <!-- ------------------------------------------------------------------------------------ -->
  <!-- Navbar End -->
  <!-- --------- <a class="btn btn-warning mx-2" href="{% url 'login' %}" role="button">Login</a>--------------------------------------------------------------------------- -->
  <section class="container-fluid">

    <!-- ------------------------------------------------------------------------------------ -->
    <!--Poster Image start -->
    <!-- ------------------------------------------------------------------------------------ -->
    <div class="container-fluid">

      <div class="container-fluid m-4 bg-warning" id="poster">

        <img src="{% static 'img/Untitled-20-off.png' %}" alt="" width="100%" height="100%">


      </div>

      <!-- ------------------------------------------------------------------------------------ -->
      <!--Poster Image End-->
      <!-- ------------------------------------------------------------------------------------ -->

      <!-- ------------------------------------------------------------------------------------ -->
      <!--Product Grid-->
      <!-- ------------------------------------------------------------------------------------ -->



      <div class="row row-cols-1 row-cols-md-2 g-4 m-4">
        <div class="col">
          <a href="{% url 'royalcanin' %}">
          <div class="card text-dark bg-warning">
            <img src="{% static 'img/royal-canin.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Royal Canin</h5>

            </div>
           </a>
          
          </div>
        </div>
        <div class="col">
          <a href="{% url 'drools' %}">
          <div class="card text-dark bg-warning">
            <img src="{% static 'img/drools.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Drools</h5>

            </div>
          </a>
          </div>
        </div>


      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------ -->
    <!--Product Grid End-->
    <!-- ------------------------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------------------------ -->
    <!--Product Gallery start-->
    <!-- ------------------------------------------------------------------------------------ -->

    <h4 class="bg-warning text-dark m-4 p-4">Shop By category</h4>



    <div class="card-group row category container m-4" style="display: flex;">
      <!-- Dog foood -->

      <div class="col">
        <div class="card p-2">
         <a href="{% url 'category-detail' slug='dog-food' %}">
          <img src="{% static 'img/dog-food.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bg-warning p-3">Dog Food</h5>
          </div>
          </a>


        </div>
      </div>

      
      <!-- cat food -->

      <div class="col">

        <div class="card p-2">
          <a href="{% url 'category-detail' slug='cat-food' %}">
          <img src="{% static 'img/cat-food.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bg-warning p-3">Cat Food</h5>
          </div>
          </a>
        </div>

      </div>

      <!-- Grooming -->


      <div class="col">
        <div class="card p-2">
          <a href="{% url 'category-detail' slug='grooming' %}">
          <img src=" {% static 'img/grroming.jpg' %} " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bg-warning p-3">Grooming</h5>
          </div>
          </a>
        </div>

        <!-- HealthCare -->


      </div>

      <div class="col">
        <div class="card p-2">
          <a href="{% url 'category-detail' slug='healthcare' %}">
          <img src="static/img/health-care.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bg-warning p-3">HealthCare</h5>

          </div>

        </a>
        </div>
      </div>

      <!-- Pet Toys -->

      <div class="col">
        <div class="card p-2">
          <a href="{% url 'category-detail' slug='pettoys' %}">
          <img src="static/img/pet-toys.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bg-warning p-3">Pet Toys</h5>

          </div>

        </a>
        </div>
      </div>
    </div>
    </div>


    <!-- ------------------------------------------------------------------------------------ -->
    <!--Product Gallery end-->
    <!-- ------------------------------------------------------------------------------------ -->
  </section>
  <!-- ------------------------------------------------------------------------------------ -->
  <!-- Footer Start -->
  <!-- ------------------------------------------------------------------------------------ -->


  <footer class="footer-distributed">

    <div class="footer-left">
      <a class="navbar-brand" href="#">
        <img src="static/img/pet-logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top ms-5">
      </a>

      <h3>Super<span>Pet</span></h3>

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>

        <a href="#">Blog</a>

        <a href="#">Pricing</a>

        <a href="#">About</a>

        <a href="#">Faq</a>

        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Company Name © 2015</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1.555.555.5555</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">superpet@company.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
        vehicula sit amet.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

  </footer>



  <!-- ------------------------------------------------------------------------------------ -->
  <!-- Footer End-->
  <!-- ------------------------------------------------------------------------------------ -->


  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------------------------------------------------------- -->

  <!-- ---------------------------------------------JavaScript------------------------------------- -->



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js'%}"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->


    <!-- <--------------------------------------------------------------------------------- -->

    
</body>

</html>