<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=" ">
        <div class="mb-3">
          <label for="">Enter name</label>
          <input type="text" name="bookname">
        </div>

        <div>
            <label for="">Enter price</label>
            <input type="text" name="price">
        </div>

       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% if bookname and price%}
      <p>{{bookname}}</p>
      <p>{{price}}</p>

{% endif %}
      
</body>
</html>