<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                 <h1>Class based views</h1>

                 <form action="{% url 'class-based-view' %}" method="post">
                    {% csrf_token %}
                    
                     <label for="">Enter username</label>
                     <input type="text" name="username" >

                     <input type="submit">
                 </form>
</body>
</html>